<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- Character encoding -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Compatibility with IE browsers -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Responsive design for mobile devices -->
    <meta name="description" content="A brief description of the page for SEO"> <!-- Page description for SEO -->
    <meta name="keywords" content="HTML, CSS, JavaScript"> <!-- Keywords for SEO -->
    <meta name="author" content="Your Name"> <!-- Author of the page -->
    <meta name="robots" content="index, follow"> <!-- Instruct search engines to index the page -->
    
    <title>StudyMate </title>
</head>
<body>
    {% block content %}

    {% endblock%}
</body>
</html>